<div class="flex flex-col justify-center items-center h-screen bg-blue-800">

  <section class="p-6 max-w-sm max-h-[70vh] bg-white rounded-xl shadow-lg space-x-4 flex-col overflow-y-auto">


    <input
      type="text"
      name="New"
      placeholder="New Task"
      [(ngModel)]="taskText"
      class="bg-gray-200 py-2 border border-gray-300 rounded-lg mb-2"
      (keyup.enter)="saveTask()"
    />
    <button class="bg-amber-700 hover:bg-amber-900 text-white font-bold py-2 px-4 rounded" (click)="saveTask()">
      Submit
    </button>


    <div *ngIf="showError" class="text-red-500 text-sm mt-2">
      please enter a task before saving.
    </div>

    <div *ngFor="let task of uncompletedTasks" class="mb-2">
      <div class="flex items-center"> <!-- Container para a tarefa e o botão -->
        <input type="checkbox" [(ngModel)]="task.completed" class="mr-2"/>
        {{ task.text }}
       
      </div>
    </div>

    <div *ngFor="let task of completedTasks">
      <div class="line-through text-gray-500">
        <input type="checkbox" [(ngModel)]="task.completed" class="mr-2"/>
        {{ task.text }}
      </div>
    </div>


  </section>

</div>

